<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>controller.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotMailController</servlet-name>
        <servlet-class>controller.ForgotMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPhoneController</servlet-name>
        <servlet-class>controller.ForgotPhoneController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountListController</servlet-name>
        <servlet-class>controller.AccountListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoController</servlet-name>
        <servlet-class>controller.PoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoAddController</servlet-name>
        <servlet-class>controller.PoAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoImportController</servlet-name>
        <servlet-class>controller.PoImportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MappingPlo_PoController</servlet-name>
        <servlet-class>controller.MappingPlo_PoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailAccountController</servlet-name>
        <servlet-class>controller.DetailAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetailEditController</servlet-name>
        <servlet-class>controller.AccountDetailEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>controller.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPhoneController</servlet-name>
        <servlet-class>controller.RegisterPhoneController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingListController</servlet-name>
        <servlet-class>controller.SettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailController</servlet-name>
        <servlet-class>controller.SettingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCurriculumController</servlet-name>
        <servlet-class>controller.AddCurriculumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurriculumController</servlet-name>
        <servlet-class>controller.CurriculumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>controller.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectImportController</servlet-name>
        <servlet-class>controller.SubjectImportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectSuccController</servlet-name>
        <servlet-class>controller.SubjectSuccController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectPreController</servlet-name>
        <servlet-class>controller.SubjectPreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCurriculumController</servlet-name>
        <servlet-class>controller.editCurriculumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PLO_Controller</servlet-name>
        <servlet-class>controller.PLO_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>curriculumSubjectController</servlet-name>
        <servlet-class>controller.curriculumSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecisionController</servlet-name>
        <servlet-class>controller.DecisionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDecisionController</servlet-name>
        <servlet-class>controller.AddDecisionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDecisionController</servlet-name>
        <servlet-class>controller.EditDecisionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboController</servlet-name>
        <servlet-class>controller.ComboController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboDetailController</servlet-name>
        <servlet-class>controller.ComboDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElectiveController</servlet-name>
        <servlet-class>controller.ElectiveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElectiveDetailController</servlet-name>
        <servlet-class>controller.ElectiveDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentGroupController</servlet-name>
        <servlet-class>controller.ContentGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubPLO_MapController</servlet-name>
        <servlet-class>controller.SubPLO_MapController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PLO_ImportController</servlet-name>
        <servlet-class>controller.PLO_ImportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SyllabusController</servlet-name>
        <servlet-class>controller.SyllabusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssessmentController</servlet-name>
        <servlet-class>controller.AssessmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloController</servlet-name>
        <servlet-class>controller.CloController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloAddController</servlet-name>
        <servlet-class>controller.CloAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloImportController</servlet-name>
        <servlet-class>controller.CloImportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MappingClo_PloController</servlet-name>
        <servlet-class>controller.MappingClo_PloController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionController</servlet-name>
        <servlet-class>controller.QuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionController</servlet-name>
        <servlet-class>controller.EditQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportQuestionController</servlet-name>
        <servlet-class>controller.ImportQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionController</servlet-name>
        <servlet-class>controller.SessionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/view/userAccess/loginGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/view/userAccess/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotMailController</servlet-name>
        <url-pattern>/view/userAccess/forgotMailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPhoneController</servlet-name>
        <url-pattern>/view/userAccess/forgotPhoneController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/view/userAccess/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/view/userAccess/EditProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/view/userAccess/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/view/userAccess/registerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPhoneController</servlet-name>
        <url-pattern>/view/userAccess/registerPhoneController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingListController</servlet-name>
        <url-pattern>/view/setting/settinglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailController</servlet-name>
        <url-pattern>/view/setting/settingdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountListController</servlet-name>
        <url-pattern>/view/userAccess/accountlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailAccountController</servlet-name>
        <url-pattern>/view/userAccess/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetailEditController</servlet-name>
        <url-pattern>/view/userAccess/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCurriculumController</servlet-name>
        <url-pattern>/view/curriculum/addCurriculumController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurriculumController</servlet-name>
        <url-pattern>/view/curriculum/curriculumController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/view/subject/SubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectImportController</servlet-name>
        <url-pattern>/view/subject/subjectImportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCurriculumController</servlet-name>
        <url-pattern>/view/curriculum/editCurriculumController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PLO_Controller</servlet-name>
        <url-pattern>/view/plo/PLO_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectSuccController</servlet-name>
        <url-pattern>/view/subject/subjectsucc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectPreController</servlet-name>
        <url-pattern>/view/subject/subjectpre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>curriculumSubjectController</servlet-name>
        <url-pattern>/view/curriculumSubject/curriculumSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecisionController</servlet-name>
        <url-pattern>/view/decision/decisionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDecisionController</servlet-name>
        <url-pattern>/view/decision/addDecisionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDecisionController</servlet-name>
        <url-pattern>/view/decision/editDecisionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoController</servlet-name>
        <url-pattern>/view/po/polist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoAddController</servlet-name>
        <url-pattern>/view/po/poadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoImportController</servlet-name>
        <url-pattern>/view/po/poimport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MappingPlo_PoController</servlet-name>
        <url-pattern>/view/po/poplo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElectiveController</servlet-name>
        <url-pattern>/view/elective/ElectiveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElectiveDetailController</servlet-name>
        <url-pattern>/view/elective/ElectiveDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboController</servlet-name>
        <url-pattern>/view/comboo/ComboController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboDetailController</servlet-name>
        <url-pattern>/view/comboo/ComboDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentGroupController</servlet-name>
        <url-pattern>/view/contentGroups/ContentGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloController</servlet-name>
        <url-pattern>/view/clo/clolist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloAddController</servlet-name>
        <url-pattern>/view/clo/cloadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloImportController</servlet-name>
        <url-pattern>/view/clo/cloimport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MappingClo_PloController</servlet-name>
        <url-pattern>/view/clo/cloplo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubPLO_MapController</servlet-name>
        <url-pattern>/view/subject/subPloMapController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PLO_ImportController</servlet-name>
        <url-pattern>/view/plo/ploImportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SyllabusController</servlet-name>
        <url-pattern>/view/syllabus/SyllabusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssessmentController</servlet-name>
        <url-pattern>/view/assessment/AssessmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionController</servlet-name>
        <url-pattern>/view/question/questionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionController</servlet-name>
        <url-pattern>/view/question/editQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportQuestionController</servlet-name>
        <url-pattern>/view/question/importQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionController</servlet-name>
        <url-pattern>/view/session/SessionController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/custom-error-page.jsp</location>
    </error-page>
</web-app>
